<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace="接口的完整路径"-->
<!--里面的select用来定义sql语句的-->
<mapper namespace="com.hezho.dao.StudentDao">
    <!--id 指的是方法名-->
    <!--resultType用来将查询结果包装-->
    <select id="getAll" resultType="com.hezho.bean.Student">
        select * from students
    </select>

    <select id="findById" parameterType="int" resultType="com.hezho.bean.Student">
        selectd * from students where studentId=#{id}
    </select>

    <insert id="insertRecord" parameterType="com.hezho.bean.Student">
        insert into students(studentId, studentName) values(#{studentId}, #{studentName})
    </insert>

    <insert id="insertRecordByMap" parameterType="Map">
        insert into students(studentId, studentName) values(#{sno}, #{sname})
    </insert>

    <select id="findStatics" resultType="map">
        select max(studentId) max, min(studentName) min from students
    </select>

</mapper>